*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    margin: 0;
    background-image: url(./images/bg.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
  margin: 0%;
  height: 10vh;
  display: flex;
  justify-content: start;
  align-items: center;
}
.logo-navbar{
    margin-top: 1rem;
    margin-left: 0;
    width: 12rem;
    margin-left: 10px;
}
.nav-items{
    margin-left: 30%;
    margin-top: 1rem;
}
.drop-down1{
    background-color: transparent;
    border: transparent;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.drop-down2{
    margin-left: 30px;
    background-color: transparent;
    border: transparent;
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 5rem;
}
.item{
    color: black;
}
a{
    margin-left: 30px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
.hero-section{
    margin-left: 3vw;
    width: 45%;
    height: 60vh;
    margin-top: 30vh;
}
.heading{
    font-size: 1.6rem;
    color: white;
}
.search{
    margin-top: 5vh;
    width: 100%;
    height: 8vh;
    border-radius: 8px;
    border: transparent;
}
.popular{
    margin-top: 20px;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-weight: bolder;
}
.popular p{
    margin-left: 0;
}
.items{
    border: 1px solid white;
    padding: 5px;
    border-radius: 14px;
    transition-duration: 0.5s;
}
.items:hover{
    background-color: white;
    color: rgb(90, 85, 85);
    cursor: pointer;
}
.search::placeholder {
    color: #999; 
    font-size: 14px; 
    text-align: left; 
}
.main2{
    height: 20vh;
    background-color: #eeeaea;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main2-2{
    height: 20vh;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main2-2 p{
    font-size: 30px;
    color: #978d8dad;
}
.images{
    width: 90px;
}
.main3{
    margin-top: 15vh;
}
.service{
    margin-top: 10px;
    color: #4c4444ea;
    margin-left: 25px;
    font-size: 30px;
    font-weight: bolder;
}
.boxes{
    margin-top: 0x;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box1 .img1{
    width: 15rem;
    height: 55vh;
    z-index: 1;
}
.type{
    z-index: 2;
    margin-top: -22rem;
    margin-left: 2px;
    width: auto;
}
.type p{
   color: white;
}
.type span{
    font-size: 20px;
    color: white;
 font-weight: bolder;
}
.box1 p{
    color: white;
 }

 .box1 span{
    font-size: 20px;
    color: white;
 font-weight: bolder;
}
.box1{
    width: 15rem;
    height: 55vh;
    z-index: 1;
}
.main4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    margin-top: 10vh;
    background-color: rgba(183, 227, 227, 0.575);
}
.texts{
    width: 30%;
    margin-top: 20vh;
    margin-left: 29px;
    height: 100vh;
}
.texts h1{
    color: #575555;
    margin-bottom: 23px;
}
.texts1 h2{
    margin-left: 25px;
    color: #5e5c5c;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.texts1 p{
    font-size: 20px;
    color: #625f5f;
    line-height: 28px;
}
.img22{
    margin-left: 35vh;
    width: 50%;
    height: 80vh;
}

.main5{
    width: 80%;
    height: 50vh;
    margin-left: 20vh;
    background-color: #625f5f;
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 25vh 25vh;
}
.box{
    background-color: aliceblue;
    display: block;
    text-align: center;
    padding: 20px;
    font-size: 12px;
}
.box img{
    width: 50%;
    height: 70%;
}